.estiloTexto {
    color: rgb(179, 0, 255);
    text-align: center;
    direction: ltr; /*left to right/
    text-decoration: line-through;
    text-transform: uppercase; /*otras opciones: lowercase, capitalize */
    text-indent: 80px;
    letter-spacing: 5px;
    line-height: 1.0;
    word-spacing: 2px;
    /*white-space: nowrap; /*descomentar esta linea para ver la diferencia*/
    text-shadow: 4px 2px 5px rgb(93, 0, 255); /*5px de sombra horizontal y vertical*/
    font-family: sans-serif;
    
}

.p1 {
    font-family:'Courier New', Courier, monospace;
    


   }
   
   .p2 {
    font-family:'Times New Roman', Times, serif;
   }
   
   .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}


    .fuente-shantell {
    font-family: 'Roboto', sans-serif;
}
    
 